<div class="app-page app-data-page">
  <h2 class="app-card-heading app-card-heading--bordered">Invoice Preview</h2>

  <div class="app-supporting-text">
    <span class="app-strong">Invoice No:</span>
    <span class="app-data-value">{{ invoice().invoiceNo }}</span>
    <span class="app-data-value">{{ invoice().dateFormat?.value }}</span>
  </div>

  <div>
    <h3 class="app-card-heading">Raw Invoice Data</h3>

    <pre class="app-data-code"
      >{{ invoice() | json }}
    </pre>
  </div>
</div>
