<div class="card-box">

    <div class="text-[1 rem] text-gray-500">Customer Name</div>
    <input
      [field]="customerDetails.name"
      placeholder="Customer name"
      class="w-full text-right font-medium outline-none text-sm md:text-base"
    />

 
    <div class="text-[1 rem] text-gray-500">Address</div>
    <textarea
  [field]="customerDetails.address"
  placeholder="Customer address"
  rows="2"
  class="w-full text-right font-medium outline-none text-sm md:text-base resize-none"
></textarea>

</div>
