<mat-horizontal-stepper [linear]="false" #stepper>

  <!-- Step 1: Organization Info + Logo Upload -->
  <mat-step label="My Organization Info & Logo">
    <app-invoice-organization></app-invoice-organization>
    <app-invoice-logo></app-invoice-logo>
    <div class="stepper-actions">
      <button mat-raised-button color="primary" class="next-btn1" (click)="stepper.next()">
        Next <mat-icon class="icon-right">arrow_forward</mat-icon>
      </button>
    </div>
  </mat-step>

  <!-- Step 2: Customer and Invoice Details -->
  <mat-step label="Customer and Invoice Details">
    <div class="card-container">
    <app-invoice-customer></app-invoice-customer>
    <app-invoice-details></app-invoice-details>
    </div>
    <div class="stepper-actions">
      <button mat-button class="back-btn2" (click)="stepper.previous()">
        <mat-icon class="icon-left">arrow_back</mat-icon> Back
      </button>
      <button mat-raised-button color="primary" class="next-btn2" (click)="stepper.next()">
        Next <mat-icon class="icon-right">arrow_forward</mat-icon>
      </button>
    </div>
  </mat-step>

 <!-- Step 3: Items and Summary -->
<mat-step label="Items and Summary">
  <div class="items-summary-layout">
  <div class="invoice-items-wrapper">
    <app-invoice-items></app-invoice-items>
  </div>

  <div class="invoice-summary-wrapper">
    <app-invoice-summary></app-invoice-summary>
  </div>
</div>


  <div class="stepper-actions">
    <button mat-button class="back-btn" (click)="stepper.previous()">
      <mat-icon class="icon-left">arrow_back</mat-icon> Back
    </button>
    <button mat-raised-button color="primary" class="next-btn3" (click)="stepper.next()">
      Next <mat-icon class="icon-right">arrow_forward</mat-icon>
    </button>
  </div>
</mat-step>


  <!-- Step 4: Select Template -->
  <mat-step label="Select a template">
    <app-select-template></app-select-template>
    <div class="stepper-actions">
      <button mat-button class="back-btn" (click)="stepper.previous()">
        <mat-icon class="icon-left">arrow_back</mat-icon> Back
      </button>
      <button mat-raised-button color="primary" class="next-btn" (click)="stepper.next()">
        Next <mat-icon class="icon-right">arrow_forward</mat-icon>
      </button>
    </div>
  </mat-step>

  <!-- Step 5: Preview & Download -->
  <mat-step label="Preview and Download">
    <app-preview-invoice></app-preview-invoice>
    <div class="stepper-actions">
      <button mat-button class="back-btn" (click)="stepper.previous()">
        <mat-icon class="icon-left">arrow_back</mat-icon> Back
      </button>
      <button mat-raised-button color="accent" class="finish-btn">
        <mat-icon class="icon-right">check_circle</mat-icon> Finish
      </button>
    </div>
  </mat-step>

</mat-horizontal-stepper>
