.ag-label-div{
  height: 100%;
}
.content-label-right {
  width: 100%;
  text-align:right;
}
.content-label-right-middle {
  display: flex;
  align-items: center;
  height: 100%;
}
.ag-pre{
  line-height: 1.5;
  margin-top: 0px;
  word-wrap: break-word;
  white-space: pre-wrap;
}
.bold-medium-text{
  font-weight: 500;
  font-size: 14px;
}