.invoice-summary-card {
  width: 100%;
  width: 420px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
  padding: 16px 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.total-in-words-container {
   background-color: #fafafa;
  border-top: 2px solid #e0e0e0;
  padding: 12px 8px;
  font-size: 13px;
  font-weight: 500;
  color: #444;
  border-radius: 6px;
  margin-right: 300px;
  margin-top: 100px;
  
}

.total-in-words-label {
  font-weight: 500;
  color: #222;
}

.total-in-words-value {
  font-size: xx-large;
  font-weight: 500;
  font-style: normal;
  color: #000000;
  text-align: left;
}

.no-header .ag-header {
  display: none !important;
}

.card-container {
  display: flex;

}
.bold-text {
  font-weight: bold;
  font-size: 16px;
}
.grand-total-number {
  font-size: 4.5rem;
  font-weight: 600;
  color: #000;
  margin-bottom: 8px;
  text-align: center;
}
