.invoice-summary-card {
  width: 420px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
  padding: 16px 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.total-in-words-container {
  background-color: #fafafa;
  border-top: 1px solid #e0e0e0;
  padding: 12px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  color: #444;
  border-radius: 6px;
}

.total-in-words-label {
  font-weight: 500;
  color: #222;
}

.total-in-words-value {
  font-size: large;
  font-weight: 600;
  font-style:normal;
  color: #000000;
}
.no-header .ag-header {
  display: none !important;
}
