<div class="grid grid-cols-1 md:grid-cols-3 gap-3 md:gap-4">
  <!-- Amount and Numbering -->
  <div class="sm:col-span-2 card-box" [formGroup]="InvoiceSummary()">
    <label class="inline-flex items-center text-xs md:text-sm">
      <input formControlName="internationalNumbering" type="checkbox" class="mr-2" />
      International Numbering
    </label>
    <div class="mt-4 text-center">
      <div class="text-2xl md:text-4xl font-bold">
        {{ invoiceService.symbol() }}
        {{ InvoiceSummary().get('grandTotal')?.value }}
      </div>
      <div class="text-xs md:text-sm text-gray-700 mt-2">
        {{ InvoiceSummary().get('grandTotalInWords')?.value }}
      </div>
    </div>
  </div>

  <!-- Totals -->
  <div class="card-box" [formGroup]="InvoiceSummary()">
    <div class="text-xs md:text-sm flex justify-between">
      <span>Item Total</span>
      <span>{{ InvoiceSummary().get('itemTotal')?.value }}</span>
    </div>
    @if(advanced() && hasItemDiscount()){
    <div class="text-xs md:text-sm flex justify-between">
      <span>Discount Total</span>
      <span>{{ InvoiceSummary().get('discountTotal')?.value }}</span>
    </div>
    <div class="text-xs md:text-sm flex justify-between">
      <span>Sub Total</span>
      <span>{{ InvoiceSummary().get('subTotal')?.value }}</span>
    </div>
    } @if(advanced() || selectedTaxOption() == 'CGST & SGST' || selectedTaxOption() == 'IGST'){

    <div class="text-xs md:text-sm flex justify-between">
      <span>Tax Total</span>
      <span>{{ InvoiceSummary().get('taxTotal')?.value }}</span>
    </div>
    }
    <div class="text-xs md:text-sm flex justify-between mt-2">
      <span>Round Off</span>
      <input
        formControlName="roundOff"
        type="number"
        class="w-16 md:w-20 text-right form-input text-xs md:text-sm"
      />
    </div>
    <div class="text-xs md:text-sm flex justify-between mt-2 font-semibold border-t pt-2">
      <span>Grand Total</span>
      <span>{{ InvoiceSummary().get('grandTotal')?.value }}</span>
    </div>
  </div>
</div>
