.Summary-of-Invoice-card {
  width: 400px; // or any desired fixed width
  background: #fff;
  border-radius: 6px;
}

.address-grid {
  width: 100% !important; // this will match the 400px parent
}
.total-in-words-container{
  background-color: #f0f0f0;
}
.total-in-words-label{
  font-size: 12px;
  font-weight: 600;
}
.total-in-words-value{
  font-size: 12px;
  font-weight: 600;
}
