<div class="invoice-wrapper">
  <div class="invoice-container">
    <div class="invoice-card space-y-4 md:space-y-6">

      <!-- Header: logo + details -->
      <div class="flex flex-col sm:flex-row sm:items-start sm:justify-between gap-3 md:gap-4">
        <div class="w-full sm:w-1/2">
          <app-invoice-logo></app-invoice-logo>
        </div>
        <div class="w-full sm:w-1/2">
          <!-- <app-invoice-details [advanced]="true"></app-invoice-details> -->
          <app-invoice-details (valueChange)="onInvoiceDetails($event)"></app-invoice-details>

        </div>
      </div>

      <!-- Addresses -->
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-3 md:gap-4">
        <app-invoice-organization></app-invoice-organization>
        <app-invoice-customer></app-invoice-customer>
      </div>

      <!-- Items -->
      <app-invoice-items></app-invoice-items>

      <!-- Summary -->
      <app-invoice-summary [totalAmount]="totalAmount"></app-invoice-summary>

      <!-- Notes & Terms -->
      <app-invoice-terms-notes></app-invoice-terms-notes>

    </div>
  </div>
</div>
