<div class="card-layout" style="display: flex; flex-wrap: wrap; gap: 24px;">
    <!-- My Details -->
    <div class="customer-card" style="flex: 1 1 48%;">
        <mat-card-header>
            <mat-card-title class="card-title">My Details</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <ag-grid-angular class="ag-theme-alpine address-grid no-header" style="width: 100%;"
                [rowData]="myDetailsRowData" [columnDefs]="myDetailsColumnDefs" [domLayout]="'autoHeight'"
                [defaultColDef]="defaultColDef" [gridOptions]="gridOptions"
                (gridReady)="onMyDetailsGridReady($event)"
                [getRowId]="getRowId">
            </ag-grid-angular>
        </mat-card-content>
    </div>

    <!-- Customer Details -->
    <div class="customer-card" style="flex: 1 1 48%;">
        <mat-card-header>
            <mat-card-title class="card-title">Customer Details</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <ag-grid-angular class="ag-theme-alpine address-grid no-header" style="width: 100%;"
                [rowData]="customerRowData" [columnDefs]="customerColumnDefs" [domLayout]="'autoHeight'"
                [defaultColDef]="defaultColDef" [gridOptions]="gridOptions"
                (gridReady)="onCustomerGridReady($event)"
                [getRowId]="getRowId">
            </ag-grid-angular>
        </mat-card-content>
    </div>

    <!-- Invoice Details -->
    <div class="invoice-details-card" style="flex: 1 1 48%;">
        <mat-card-header>
            <mat-card-title class="card-title">Invoice Details</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <ag-grid-angular class="ag-theme-alpine no-header" style="width: 100%;" [rowData]="invoiceDetailsRowData"
                [columnDefs]="invoiceDetailsColumnDefs" [domLayout]="'autoHeight'" [defaultColDef]="defaultColDef"
                [gridOptions]="gridOptions" (gridReady)="onInvoiceDetailsGridReady($event)"
                [getRowId]="getRowId"
                (cellValueChanged)="onInvoiceDetailsCellValueChanged($event)">
            </ag-grid-angular>
        </mat-card-content>
    </div>

     <!-- Item Deatils -->
    <div class="Item-details-card" style="flex: 1 1 100%;">
  <mat-card-header>
    <mat-card-title class="card-title">Item Details</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ag-grid-angular
      class="ag-theme-alpine"
      [rowData]="itemdetailsRowData"
      [columnDefs]="itemdetailsColumnDefs"
      [domLayout]="'autoHeight'"
      [defaultColDef]="defaultColDef"
      [gridOptions]="gridOptions"
      (cellClicked)="onCellClicked($event)"
      (cellValueChanged)="onCellValueChanged($event)">
    </ag-grid-angular>
  </mat-card-content>
</div>

<!-- Summary of Invoice-->
<div class="summary-box" >
 <div class="Summary-of-Invoice-card" style="flex: 1 1 48%;">
        <!-- <mat-card-header>
            <mat-card-title class="card-title">Summary of Invoice</mat-card-title>
        </mat-card-header> -->
        <mat-card-content>
            <ag-grid-angular class="ag-theme-alpine address-grid no-header" style="width: 100%;"
                [rowData]="summaryRowData" [columnDefs]="summaryColumnDefs" [domLayout]="'autoHeight'"
                [defaultColDef]="defaultColDef" [gridOptions]="gridOptions"
                (cellValueChanged)="onSummaryCellValueChanged($event)">
            </ag-grid-angular>
        </mat-card-content>
    </div>
</div>
</div>

