<div class="card-layout">
    <!-- Customer Details -->
    <div class="customer-card">
        <div class="title">
            <span class="card-title">Customer Details</span>
        </div>
        <div>
            <ag-grid-angular class="ag-theme-alpine address-grid no-header" style="width: 100%;"
                [rowData]="customerRowData" [columnDefs]="customerColumnDefs" [domLayout]="'autoHeight'"
                [defaultColDef]="defaultColDef" [gridOptions]="gridOptions" (gridReady)="onCustomerGridReady($event)"
                [getRowId]="getRowId">
            </ag-grid-angular>
        </div>
    </div>

    <!-- Invoice Details -->
    <div class="invoice-details-card">
        <div class="title">
            <span class="card-title">Invoice Details</span>
        </div>
        <div>
            <ag-grid-angular class="ag-theme-alpine no-header" style="width: 100%;"
                [columnDefs]="invoiceDetailsColumnDefs" [domLayout]="'autoHeight'" [defaultColDef]="defaultColDef"
                [gridOptions]="gridOptions" (gridReady)="onInvoiceDetailsGridReady($event)" [getRowId]="getRowId">
            </ag-grid-angular>
        </div>
    </div>
</div>