/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "./tailwind-config.css";
@import "./font.css";

:root{
    --background-color : #367588;
    --text-color : #FDF6EC;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}