<div class="dashboard-container">
  <!-- Top Filter Bar -->
  <div class="top-filter">
    <form>
      <mat-form-field appearance="outline" class="compact-chip-field">
        <mat-label>Tags</mat-label>
        <mat-chip-grid #chipGrid aria-label="Tag filter">
          <mat-chip-row *ngFor="let tag of selectedTags$ | async" (removed)="removeTag(tag)">
            {{ tag }}
            <button matChipRemove [attr.aria-label]="'remove ' + tag">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
        </mat-chip-grid>

        <input placeholder="Add tag..." #tagInput [matChipInputFor]="chipGrid"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matAutocomplete]="auto"
          (matChipInputTokenEnd)="addTag($event)" />

        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let tag of tags$ | async" [value]="tag">{{ tag }}</mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </div>

  <!-- Grid of Templates -->
  <div class="template-card-grid">
    <div *ngFor="let item of templates" class="template-card" [class.selected]="item.path === selectedTemplatePath">
      <div class="card-header">
        <div class="card-title" (click)="onTemplateClick(item)" tabindex="0" role="button"
          (keydown.enter)="onTemplateClick(item)">
          {{ item.name }}
        </div>
        <button mat-icon-button (click)="previewTemplate(item); $event.stopPropagation()" aria-label="Preview template">
          <mat-icon>visibility</mat-icon>
        </button>
      </div>

      <div class="card-preview">
        <iframe [attr.srcdoc]="item.safeHTML" class="preview-iframe" frameborder="0"></iframe>
        <div class="overlay" (click)="onTemplateClick(item)" tabindex="0" role="button"
          (keydown.enter)="onTemplateClick(item)" (keydown.space)="onTemplateClick(item)">
        </div>
      </div>
    </div>
  </div>

  <!-- Paginator -->
  <mat-paginator [length]="totalItems$ | async" [pageSize]="itemsPerPage"
    [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons color="primary" class="paginator">
  </mat-paginator>
</div>
