@use '../../../../styles/variables' as *;
@use '../../util/common.styles.scss' as *;

// Stepper custom styles
::ng-deep .mat-horizontal-stepper-header-container {
  background-color: #ffffff !important;
  flex-wrap: wrap;
}

::ng-deep .mat-horizontal-content-container {
  background-color: #ffffff !important;
  padding: 16px;
}

.mobile-step-title {
  display: none;
}

.simple-invoice-layout-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.simple-invoice-config-container {
  margin-top: 20px;
  width: 15%;
  min-width: 240px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.stepper-swipe-container {
  touch-action: none;
  width: 100vw;
  height: 100vh;
}

.mobile-step-header {
  display: none;
}

.simple-invoice-layout {
  flex: 1 1 70%;
  max-width: 850px;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding: 40px;
}

.simple-invoice-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 10px 0;
}

.step-form-content {
  flex: 1 1 30%;
  min-width: 280px;
  max-width: 100%;
}

.stepper-actions-simple {
  padding-bottom: 20px;
  padding-top: 0px;
}

.spacer-div2{
  width: 5%;
}


@media (max-width: $breakpoint-mobile) {

  ::ng-deep .mat-horizontal-stepper-header-container {
    display: none !important;
  }

  .next-btn,
  .back-btn,
  .next-btn1 {
    margin-bottom: 50px;
  }
  .mobile-step-title {
    display: block;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 12px;
    text-align: center;
    background-color: #ffffff;
  }

  .mobile-step-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
    background-color: #ffffff;
    border-bottom: 1px solid #ffffff;

    .mobile-step-title {
      font-size: 16px;
      font-weight: 600;
      text-align: center;
      flex: 1;
    }

    button {
      color: #367588;
    }
  }

  .simple-invoice-layout-container {
    flex-direction: column;
    gap: 16px;
  }

  .simple-invoice-layout,
  .simple-invoice-config-container {
    width: 100%;
  }

  .simple-invoice-config-container {
    margin-top: 10px;
  }

  .simple-invoice-row {
    flex-direction: column;
    padding: 10px 0;
  }

  .spacer-div {
    display: none;
  }

  .step-form-content {
    flex: 1;
  }
}