<div class="mobile-step-header">
  <button mat-icon-button (click)="goPrevious()" *ngIf="stepIndex > 0">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <div class="mobile-step-title">
    {{ stepIndex + 1 }}. {{ getStepLabel(stepIndex) }}
  </div>

  <button mat-icon-button (click)="goNext()" [disabled]="stepIndex === 5">
    <mat-icon>arrow_forward</mat-icon>
  </button>
</div>


<mat-horizontal-stepper [linear]="false" #stepper [selectedIndex]="stepIndex" (selectionChange)="onStepClick($event)">

  <!-- Step 1 -->
  <mat-step [label]="getStepLabel(0)" [completed]="isStepComplete">
    <ng-container *ngIf="stepIndex === 0">
      <div class="simple-invoice-layout-container">
        <div class="simple-invoice-layout">
          <div class="simple-invoice-row">
            <app-invoice-logo [hideLargeLogo]="true" class="step-form-content"></app-invoice-logo>
            <div class="spacer-div"></div>
            <app-invoice-details [simple]="true"  class="step-form-content"></app-invoice-details>
          </div>
          <div class="simple-invoice-row">
            <app-invoice-organization [simple]="true" class="step-form-content"></app-invoice-organization>
            <div class="spacer-div"></div>
            <app-invoice-customer [simple]="true" class="step-form-content"></app-invoice-customer>
          </div>
          <app-invoice-items [simple]="true" *ngIf="!mobileView"></app-invoice-items>
          <app-invoice-items-mobile [simple]="true" *ngIf="mobileView"></app-invoice-items-mobile>
          <div class="simple-invoice-row">
            <app-invoice-amount-words class="step-form-content"></app-invoice-amount-words>
            <div class="spacer-div"></div>
            <app-invoice-summary class="step-form-content"></app-invoice-summary>
          </div>
        </div>
        <div class="simple-invoice-config-container"> 
          <app-simple-invoice-config></app-simple-invoice-config>
        </div>
      </div>

      <div class="stepper-actions stepper-actions-simple">
        <button mat-raised-button color="primary" class="next-btn1" (click)="gotToStep(1)">
          Next <mat-icon>arrow_forward</mat-icon>
        </button>
      </div>
    </ng-container>
  </mat-step>

  <!-- Step 2 -->
  <mat-step [label]="getStepLabel(1)" [completed]="isStepComplete">
    <ng-container *ngIf="stepIndex === 1">
      <app-select-template [stepper]="stepper"></app-select-template>
    </ng-container>
    <div class="stepper-actions">
      <button mat-button class="back-btn" (click)="gotToStep(0)"><mat-icon>arrow_back</mat-icon> Back</button>
      <button mat-raised-button color="primary" class="next-btn" (click)="gotToStep(2)">Next
        <mat-icon>arrow_forward</mat-icon></button>
    </div>
  </mat-step>

  <!-- Step 3 -->
  <mat-step [label]="getStepLabel(2)" [completed]="isStepComplete">
    <ng-container *ngIf="stepIndex === 2">
      <app-preview-invoice></app-preview-invoice>
    </ng-container>
    <div class="stepper-actions">
      <button mat-button class="back-btn" (click)="gotToStep(1)"><mat-icon>arrow_back</mat-icon> Back</button>
      <button mat-raised-button color="accent" class="finish-btn"
        (click)="gotToStep(0)"><mat-icon>check_circle</mat-icon> Finish</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>