<div class="card-layout">
    <div class="my-organization-card">
      <h2 class="card-title">My Organization</h2>
  
      <ag-grid-angular
        class="ag-theme-alpine address-grid no-header"
        [rowData]="myDetailsRowData"
        [columnDefs]="myDetailsColumnDefs"
        [defaultColDef]="defaultColDef"
        [domLayout]="'autoHeight'"
        [gridOptions]="gridOptions"
        [getRowId]="getRowId"
        [headerHeight]="0"
        (gridReady)="onMyDetailsGridReady($event)">
      </ag-grid-angular>
    </div>
  </div>