<div class="card-box">

    <div class="text-[1 rem] text-gray-500">My Name</div>
    <input
      [field]="organizationDetails.name"
      placeholder="My name"
      class="w-full text-right font-medium outline-none text-sm md:text-base"
    />

 
    <div class="text-[1 rem] text-gray-500">My Address</div>
    <textarea
  [field]="organizationDetails.address"
  placeholder="My address"
  rows="2"
  class="w-full text-right font-medium outline-none text-sm md:text-base resize-none"
></textarea>

</div>