<div class="card-box">
  <div class="font-semibold">
    <input
      [(ngModel)]="organization.name"
      type="text"
      class="w-full outline-none text-sm md:text-base"
    />
  </div>
  <div class="text-xs text-gray-600">
    <input
      [(ngModel)]="organization.address"
      type="text"
      class="w-full outline-none text-xs md:text-sm"
    />
  </div>
  <div class="mt-3 md:mt-4 text-xs md:text-sm text-gray-700">
    <input
      [(ngModel)]="organization.details"
      type="text"
      class="w-full outline-none text-xs md:text-sm"
    />
  </div>
</div>
