<div class="card-box" [formGroup]="InvoiceOrganizationForm()">
  <div class="text-[1rem] text-gray-500">My Name</div>
  <input
    formControlName="name"
    placeholder="My name"
    class="w-full text-right font-medium outline-none text-sm md:text-base"
  />

  <div class="text-[1 rem] text-gray-500">My Address</div>
  <textarea
    formControlName="address"
    placeholder="My address"
    rows="2"
    class="w-full text-right font-medium outline-none text-sm md:text-base resize-none"
  ></textarea>
  @if(advanced()){
  <div class="text-[1rem] text-gray-500 mt-2">Country</div>

  <select class="text-right font-medium outline-none text-sm md:text-base float-right">
    @for( country of countryStore.countries(); track $index){
    <option value="option1">{{ country.name }}</option>
    }
  </select>
  <div class="text-[1rem] text-gray-500 mt-5">Email</div>
  <input
    formControlName="email"
    placeholder="OrganizationForm email Number"
    class="w-full text-right font-medium outline-none text-sm md:text-base"
  />
  <div class="text-[1rem] text-gray-500 mt-5">Mobile</div>
  <input
    formControlName="phone"
    placeholder="OrganizationForm Phone Number"
    class="w-full text-right font-medium outline-none text-sm md:text-base"
  />
  <div class="text-[1rem] text-gray-500 mt-5">GSTIN</div>
  <input
    formControlName="gstin"
    placeholder="OrganizationForm gstin Number"
    class="w-full text-right font-medium outline-none text-sm md:text-base"
  />
  <!-- Authority Name -->
  <div class="mt-5 relative flex items-center">
    <label class="text-[1rem] text-gray-500">Authori..</label>

    <!-- Tooltip Icon -->
    <div class="ml-1 relative group cursor-pointer">
      <span class="text-gray-400 font-bold">?</span>

      <!-- Tooltip text (hidden by default) -->
      <div
        class="absolute bottom-full left-1/2 -translate-x-1/2 mb-2 w-max max-w-xs rounded bg-gray-700 text-white text-xs px-2 py-1 opacity-0 group-hover:opacity-100 transition-opacity duration-200 pointer-events-none"
      >
        Authority Name
      </div>
    </div>
  </div>

  <input
    formControlName="authorityName"
    placeholder="Authority Name"
    class="w-full text-right font-medium outline-none text-sm md:text-base"
  />

  <!-- Authority Designation -->
  <div class="mt-5 relative flex items-center">
    <label class="text-[1rem] text-gray-500">Designa..</label>

    <!-- Tooltip Icon -->
    <div class="ml-1 relative group cursor-pointer">
      <span class="text-gray-400 font-bold">?</span>

      <div
        class="absolute bottom-full left-1/2 -translate-x-1/2 mb-2 w-max max-w-xs rounded bg-gray-700 text-white text-xs px-2 py-1 opacity-0 group-hover:opacity-100 transition-opacity duration-200 pointer-events-none"
      >
        Authority Designation
      </div>
    </div>
  </div>

  <input
    formControlName="authorityDesignation"
    placeholder="Authority Designation"
    class="w-full text-right font-medium outline-none text-sm md:text-base"
  />

  }
</div>
