<mat-toolbar class="daybook-navbar">
  <span class="navbar-title"
        role="button"
        tabindex="0"
        (click)="navigateToSpecificPage('/')"
        (keydown.enter)="navigateToSpecificPage('/')"
        (keydown.space)="navigateToSpecificPage('/')">
    Free Invoice Generator by Daybook.Cloud
  </span>

  <span class="spacer"></span>

  <!-- Desktop links -->
  <nav class="desktop-menu">
    <a href="#" mat-button (click)="navigateToSpecificPage('/home'); $event.preventDefault()" class="menu-button">Home</a>
    <a href="#" mat-button (click)="navigateToSpecificPage('/simple-invoice'); $event.preventDefault()" class="menu-button">SimpleInvoice</a>
    <a href="#" mat-button (click)="navigateToSpecificPage('/invoice'); $event.preventDefault()" class="menu-button">Advanced Invoice</a>
    <a href="https://github.com/tociva/free-invoice-generator" mat-button class="menu-button" target="_blank" rel="noopener">GitHub</a>
    <a href="#" mat-button (click)="navigateToSpecificPage('/templates'); $event.preventDefault()" class="menu-button">Templates</a>
    <a href="/docs" mat-button class="menu-button">Docs</a>
  </nav>

  <!-- Mobile hamburger (corrected) -->
  <button mat-icon-button
          class="mobile-menu-button"
          [matMenuTriggerFor]="mobileMenu">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<!-- Mobile Mat Menu -->
<mat-menu #mobileMenu="matMenu"  xPosition="before">
  <button mat-menu-item (click)="navigateToSpecificPage('/home')">Home</button>
  <button mat-menu-item (click)="navigateToSpecificPage('/simple-invoice')">Simple Invoice</button>
  <button mat-menu-item (click)="navigateToSpecificPage('/invoice')">Advanced Invoice</button>
  <button mat-menu-item (click)="navigateToSpecificPage('/templates')">Templates</button>
  <button mat-menu-item (click)="navigateToExternalPage('https://github.com/tociva/free-invoice-generator')">GitHub</button>
  <button mat-menu-item (click)="navigateToExternalPage('/docs')">Docs</button>
</mat-menu>
<div class="content">
  <router-outlet></router-outlet>  
</div>
<div class="footer">
  <p>© 2025 Daybook.Cloud</p>
</div>