@use '../styles/variables' as *;

.navbar-title {
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.content {
  flex: 1;
  padding: 16px;
  box-sizing: border-box;
  min-height: calc(100vh - 128px); // Adjust depending on your toolbar + footer height
  background-color: #FFFFFF; // or inherit based on your theme
  overflow-x: hidden;

  @media (max-width: 600px) {
    padding: 12px;
  }
}

.spacer {
  flex: 1 1 auto;
}

.daybook-navbar {
  background-color: $primary-color;
  color: $on-primary-color;
}

::ng-deep .menu-button .mdc-button__label{
  color:$on-primary-color;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 3px;
  background-color: $primary-color;
  color: $on-primary-color;
}