<div
  appFileSelect
  fileUploadAccept=".json"
  (fileUploadFiles)="onFiles($event)"
  class="w-full
   /* Mobile (button style) */ 
  flex items-center justify-center rounded-xl bg-background text-white h-10 
  /* Desktop (drop zone style) */ 
  md:h-[20vh] md:flex-col md:border-2 md:border-dashed md:border-gray-400 md:bg-white md:text-gray-700 md:rounded-2xl mx-auto transition-all duration-300 relative"
>
  <p class="mb-2 md:block hidden text-gray-500 italic">
    Drop your invoice JSON file here or click below
  </p>

  <span class="font-semibold">
    <span class="md:hidden">Upload Invoice Json File</span>
    <span class="hidden md:inline">Browse JSON File</span>
  </span>

  <span class="absolute inset-0 rounded-2xl hidden md:block drag-border"></span>
</div>
