@use '../../../../styles/variables' as *;

.media-upload-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  padding-top: 16px;
  gap: 5px;
}

.logo-upload-button {
  border: none;
  background-color: white;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  margin-top: -5px;
  padding: 4px 8px;
}

.logo-drop-zone {
  position: relative;
  width: 250px;
  height: 120px;
  border: 2px dashed #9c9b9b;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.logo-drop-zone img {
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
  display: block;
  position: relative;
  z-index: 1;
}
.logo-drop-zone button[mat-icon-button] {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 24px;
  height: 24px;
  padding: 0;
  min-width: 0;
  line-height: 1;
  background: transparent;
  border: none;
  box-shadow: none;
  z-index: 2;
  cursor: pointer;
}

.logo-drop-zone mat-icon {
  font-size: 18px;
  line-height: 24px;
  color: #000;
}

.logo-drop-zone.drag-over {
  border: none;
}

.logo-drop-zone.drag-over::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 10px;
  pointer-events: none;
  z-index: 2;
  background: repeating-linear-gradient(135deg,
  #9c9b9b 0 6px,
  transparent 6px 12px);
  background-size: 200% 200%;
  animation: move-border 10s linear infinite;
  mask:
  linear-gradient(#fff 0 0) content-box,
  linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
  padding: 2px;
  box-sizing: border-box;
}

@keyframes move-border {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 100% 100%;
  }
}

.desktop-only{
  display: block;
}

.mobile-only{
  display: none;
}


@media (max-width: $breakpoint-mobile) {
  .media-upload-wrapper{
    align-items: center;
  }
  .desktop-only{
    display: none;
  }
  .mobile-only{
    display: block;
  }
}