<div class="table-container table-form-container">
  <div class="table-form-title">Invoice Details</div>
  <ag-grid-angular
    style="width: 100%;"
      class="ag-theme-alpine table-form-grid"
      [columnDefs]="invoiceDetailsColumnDefs"
      [defaultColDef]="defaultColDef"
      [gridOptions]="gridOptions"
      [domLayout]="'autoHeight'"
      [getRowId]="getRowId"
      [headerHeight]="0"
      [rowHeight]="rowHeight"
      (gridReady)="onInvoiceDetailsGridReady($event)">
    </ag-grid-angular>
</div>

