<div *ngFor="let template of templates">
  <h3>{{ template.name }}</h3>
  <p>{{ template.description }}</p>

  <div class="iframe-grid">
    <div *ngFor="let item of template.items" class="template-container">
      <h4>{{ item.name }}</h4>
      <iframe
        *ngIf="item.html"
        [attr.srcdoc]="item.html"
        [attr.title]="item.name"
        width="100%"
        height="600"
        frameborder="0"
        style="border: 1px solid #ccc; border-radius: 8px;"
      ></iframe>
    </div>
  </div>
</div>
