<div
  class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-5"
  [formGroup]="InvoiceTermsNotes()"
>
  <div>
    <label class="block text-sm font-medium mb-2">Additional Notes</label>
    <textarea
      formControlName="notes"
      class="textarea-input"
      placeholder="Type additional notes here"
    ></textarea>
  </div>

  <div>
    <label class="block text-sm font-medium mb-2">Terms & Conditions</label>
    <textarea
      formControlName="terms"
      class="textarea-input"
      placeholder="Type terms and conditions here"
    ></textarea>
  </div>
</div>
