<div class="invoice-notes-grid" [formGroup]="InvoiceTermsNotes()">
  <div class="invoice-notes-field">
    <label for="invoice-notes" class="invoice-notes-label">Additional Notes</label>
    <tng-input-field size="sm">
      <textarea
        aria-label="Additional Notes"
        tngInput
        id="invoice-notes"
        formControlName="notes"
        class="app-notes-control"
        placeholder="Type additional notes here"
      ></textarea>
    </tng-input-field>
  </div>

  <div class="invoice-notes-field">
    <label for="invoice-terms" class="invoice-notes-label">Terms & Conditions</label>
    <tng-input-field size="sm">
      <textarea
        aria-label="Terms & Conditions"
        tngInput
        id="invoice-terms"
        formControlName="terms"
        class="app-notes-control"
        placeholder="Type terms and conditions here"
      ></textarea>
    </tng-input-field>
  </div>
</div>
