<div class="invoice-terms-notes">

    <div class="section">
        <label for="notes">Additional Notes</label>
        <textarea id="notes" rows="4" [(ngModel)]="notes" (ngModelChange)="onNotesChange($event)"
            placeholder="Type additional notes here">
    </textarea>
    </div>

    <div class="section">
        <label for="terms">Terms & Conditions</label>
        <textarea id="terms" rows="4" [(ngModel)]="terms" (ngModelChange)="onTermsChange($event)"
            placeholder="Type terms and conditions here">
    </textarea>
    </div>

</div>